*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(233, 233, 233);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo{
    width: 100%;
    max-width: 800px;
    margin: auto;
}

/*Formularios*/

.contenedor__login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
}

.contenedor__login-register form{
    width: 100%;
    padding: 80px 20px;
    margin-top:250px;
    background: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.contenedor__login-register form input{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button{
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background: #0682ff;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
}

@media screen and (max-width: 850px){

    main{
        margin-top: 50px;
    }


    /*Formularios*/

    .contenedor__login-register{
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form{
        position: relative;
    }
    
    .contenedor__login-register form {
        width: 100%;
        padding: 82px 18px;
        margin-top: 50px;
        background: white;
        border-radius: 20px;
        position: absolute;
        top: 0%;
        left: 0%;
    }
    
    
}
.sec-login{
    max-width: 1980px;
    max-height: 80vh;
}
.back {
    background-color: #bdecb6;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}